$first-bg: linear-gradient(180deg, #0e1942 84.48%, #4f5570 100%);
$second-bg: linear-gradient(180deg, #0e1942 94.9%, #4f5570 100%);
$base-bg: linear-gradient(180deg, #4f5570 0%, #0e1942 4.79%, #0e1942 96.98%, #4f5570 100%);
$last-bg: linear-gradient(180deg, #4f5570 -1.48%, #0e1942 3.15%);

$shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);